/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-overflow-scrolling: none; 
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); */
}



body {
  /* width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-height: -webkit-fill-available; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* touch-action:none; */

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.os-viewport {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */
}

.header {
  background-color: #565968;
  position: fixed;
  width: 100vw;
  height: 7vh;
  top:0;
  left: 0;
  right: 0;
}

.mainScreenContainer {
  background-color: #3c3c4d;
  /* height: 93vh; */
  /* height: 100%; */
  width: 100%;
  top: 0;
  /* position: fixed; */
  /* overflow-y: scroll; */

  /* padding: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: 2rem;
  color: white;
  z-index: 1;
}

.sessionControlContainer {
  display: flex;
  position: relative;
  width: auto;
  font-size: 1.4rem;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: cornflowerblue; */
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0px 7px rgb(40, 35, 66);
  transform: translateX(-1%);

}

.sessionControlButtons {
  background-color: mediumslateblue;
  cursor: pointer;


  padding: 0.6rem 1.2rem 0.9rem 1.2rem ;
  display: flex;


  -webkit-transition: translate 0.1s linear;
  transition: translate 0.1s linear;
}

.sessionControlButtons:first-of-type {
  border-radius: 1rem 0 0 1rem;
  border-right: 1px solid darkslateblue;
}

.sessionControlButtons:last-of-type {
  border-radius: 0rem 1rem 1rem 0;
  border-left: 1px solid darkslateblue;
}

.sessionControlActive {
  background-color: rgb(98, 84, 187);
  translate: 0 1px 0;

}





.plantContainer {
  /* background-color: aqua; */
  z-index: 3;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 2vh;
  width: 70vw;
  height: 70vw;
  max-width: 70vh;
  max-height: 70vh;
  border-radius: 50%;
  background: conic-gradient(mediumslateblue 0deg, rosybrown 0deg);
  margin-bottom: 3rem;

  animation: 1s ease-in-out infinite;

}

.plant {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  /* background-color:bisque; */
  border-radius: 50%;

  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  z-index: 3;
}

/* .plantImage {
  display: flex;
  position: relative;
  align-self: center;
  align-content: center;
  max-height: 20vh;
  height: 20vh;
  translate: 1vw;
} */

.radius {
  width: 1px;
  height: 70vw;
  max-height: 70vh;
  /* background-color: red; */
  display: block;
  /* position: fixed; */
  position: absolute;
  transform: rotate(0deg);
  /* display: flex;
  align-self: center;
  justify-content: center; */
  z-index: 5;
}

.radiusCircle { 
  background-color: mediumslateblue;
  position: fixed;
  translate: -50% -25%;
  width: 7vw;
  height: 7vw;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  z-index: 7;
  cursor: pointer;

}

.radiusCircle:active {
  width: 10vw;
  height: 10vw;
  translate: -50% -25%;
}

.noRadius {
  background: rosybrown!important;

}

.hidden {
  display: none;
}

.timerContainer {
  box-sizing:border-box;
  z-index: 1;
  position: relative;
  display: flex;
  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  border-radius: 50%;
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYD1SneXnG84Sy8pgheS1NeLr-PHaPE0L11A&usqp=CAU); */

  /* filter: brightness(0.8); */
  /* -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */

}



.timerBackground {
  position: absolute;
  display: flex;
  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  border-radius: 50%;
  filter: brightness(0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}


.timer {
  /* background-color: red; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Norican', cursive;

  display: flex;
  position: absolute;
  font-size: min(16vw, 6rem);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* translate: 0 2vw; */
  text-shadow: #252627 2.5px 2.5px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 20px 10px rgb(0 0 0 / 55%);
}

.timerText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: min(6vw, 3.5rem);
  translate: 0 min(6rem, 12vw);
  z-index: 7;
  width: 100%;
  text-shadow: #252627 2px 2px;

  /* background-color: red; */
}

.mainScreenButtons {
  background-color: mediumslateblue;
  font-size: 1.6rem;
  /* min-width: 20vh; */
  padding: 1rem 3rem;
  width: 12rem;
  color: white;
  border: 0;
  border-radius: 1.2vh;
  box-shadow: 0px 6px rgb(40, 35, 66);
  margin-bottom: 2rem;
  /* -webkit-transition: translate 0.23s linear; */
  /* transition: translate 0.23s linear; */
  cursor: pointer;
}

.mainScreenButtons:active {
  translate: 0 2px 0;
  /* background-color: rgb(113, 91, 236); */

  box-shadow: 0px 3px rgb(40, 35, 66);
}

.settingsContainer {
  display: flex;
  position: relative;
  width: 70vw;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: darkred; */
  /* margin-top: 3rem; */
  margin-bottom: 5rem;
}

.settings_options {
  display: flex;
  width: 90vw;
  max-width: 35rem;
  font-size: 1.3rem;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(25, 14, 63, 0.29);
  padding: 1.3rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 2px dashed rgb(189, 189, 189);
}

.settings_options:first-of-type {
  margin-top: 1rem;
}

.input_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* height: 5rem; */
}

.background_input {
  width: 55vw;
  height: 2rem;
  border-radius: 0.3rem;
  border: 0;
  padding-left: 1rem;
}

.settings_button_container {
  display: flex;
  flex-direction: row;
  width: 12rem;
  justify-content:space-around;
  align-items: center;
}

.settings_button {
  font-size: 1.2rem;
  width: 15vw;
  background-color: mediumslateblue;
  color: white;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.7rem;
  margin-left: 1rem;
  translate: 0 -2px 0;
  box-shadow: 0px 2px rgb(40, 35, 66);
  cursor: pointer;

}

.settings_button:active {
  translate: 0 1px 0;
  background-color: rgb(113, 91, 236);
  box-shadow: 0px 1px rgb(40, 35, 66);
}

.delete_button {
  background-color:rgb(236, 17, 17);
}

.delete_button:active {
  background-color:firebrick;
}

.gif_preview {
  max-height: 5rem;
}



.sessionSettingsButtonsContainer {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sessionSettingsButton {
  font-size: 1.2rem;
  width: 3.5rem;
  background-color: mediumslateblue;
  color: white;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* margin-left: 1rem; */
  translate: 0 -2px 0;
  box-shadow: 0px 3px rgb(40, 35, 66);
  cursor: pointer;
}

.sessionSettingsButton:active {
  translate: 0 1px 0;
  background-color: rgb(113, 91, 236);
  box-shadow: 0px 1px rgb(40, 35, 66);
  
}

/* .noButton {
  background-color:rgb(236, 17, 17);
}

.noButton:active {
  background-color: firebrick;
} */

.autoStartButtonsContainer {
  display: flex;
  flex-direction: row;
}

.autoStartButtons {
  background-color: mediumslateblue;
  cursor: pointer;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem 0.9rem 1.5rem ;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  width: 3.85rem;
  -webkit-transition: translate 0.1s linear;
  transition: translate 0.1s linear;
}

.autoStartButtons:first-of-type {
  border-radius: 1rem 0 0 1rem;
  border-right: 1px solid darkslateblue;
}

.autoStartButtons:last-of-type {
  border-radius: 0rem 1rem 1rem 0;
  border-left: 1px solid darkslateblue;
}

.autoStartButtonsActive {
  background-color: rgb(98, 84, 187);
  translate: 0 1px 0;
  font-weight: bold;
}