/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: none; 
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  height: -webkit-fill-available;
  /* overflow: hidden; */
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; */
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action:none;
}

.os-viewport {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header {
  background-color: #565968;
  position: fixed;
  width: 100vw;
  height: 7vh;
  top:0;
  left: 0;
  right: 0;
}

.mainScreenContainer {
  background-color: #3c3c4d;
  /* height: 93vh; */
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  /* padding: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: 2rem;
  color: white;
  z-index: 1;
}

.sessionControlContainer {
  display: flex;
  position: relative;
  width: auto;
  font-size: 1.4rem;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: cornflowerblue; */
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0px 7px rgb(40, 35, 66);

}

.sessionControlButtons {
  background-color: mediumslateblue;

  padding: 0.6rem 1.2rem 0.9rem 1.2rem ;
  display: flex;


  -webkit-transition: translate 0.1s linear;
  transition: translate 0.1s linear;
}

.sessionControlButtons:first-of-type {
  border-radius: 1rem 0 0 1rem;
  border-right: 1px solid darkslateblue;
}

.sessionControlButtons:last-of-type {
  border-radius: 0rem 1rem 1rem 0;
  border-left: 1px solid darkslateblue;
}

.sessionControlActive {
  background-color: rgb(98, 84, 187);
  translate: 0 1px 0;

}





.plantContainer {
  /* background-color: aqua; */
  z-index: 3;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 2vh;
  width: 70vw;
  height: 70vw;
  max-width: 70vh;
  max-height: 70vh;
  border-radius: 50%;
  background: conic-gradient(mediumslateblue 0deg, rosybrown 0deg);
  margin-bottom: 3rem;


}

.plant {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  /* background-color:bisque; */
  border-radius: 50%;

  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  z-index: 3;
}

/* .plantImage {
  display: flex;
  position: relative;
  align-self: center;
  align-content: center;
  max-height: 20vh;
  height: 20vh;
  translate: 1vw;
} */

.radius {
  width: 7vw;
  height: 70vw;
  max-height: 70vh;
  /* background-color: red; */
  display: block;
  position: fixed;
  transform: rotate(0deg);
  /* display: flex;
  align-self: center;
  justify-content: center; */
  z-index: 5;
}

.radiusCircle { 
  background-color: mediumslateblue;
  position: fixed;
  translate: 0 -1.82vw;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 7;
}

.radiusCircle:active {
  width: 10vw;
  height: 10vw;
  translate: -1.2vw -2.6vw;
}

.noRadius {
  background: rosybrown!important;

}

.hidden {
  display: none;
}

.timerContainer {
  box-sizing:border-box;
  z-index: 1;
  position: relative;
  display: flex;
  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  border-radius: 50%;
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYD1SneXnG84Sy8pgheS1NeLr-PHaPE0L11A&usqp=CAU); */

  /* filter: brightness(0.8); */
  /* -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */

}



.timerBackground {
  position: absolute;
  display: flex;
  width: 63vw;
  height: 63vw;
  max-width: 63vh;
  max-height: 63vh;
  border-radius: 50%;
  filter: brightness(0.9);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.pauseBackground {
  background: url(https://media0.giphy.com/media/XPdR7H122vZ1C/giphy.gif?cid=790b7611f6dfedca30056047728a8ae9027975ad8723943a&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.sessionBackground {
  background: url(https://i.pinimg.com/originals/ab/e1/72/abe17294582423e00db65c85aba185d8.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

}

.timerBorder {
  /* border: -3vw solid red; */
}


.timer {
  /* background-color: red; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Norican', cursive;

  display: flex;
  position: absolute;
  font-size: 16vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* translate: 0 2vw; */
  text-shadow: #252627 2.5px 2.5px;

}

.mainScreenButtons {
  background-color: mediumslateblue;
  font-size: 2vh;
  min-width: 20vh;
  padding: 1.5vh;
  color: white;
  border: 0;
  border-radius: 1.2vh;
  box-shadow: 0px 6px rgb(40, 35, 66);
  margin-bottom: 2rem;
  -webkit-transition: translate 0.23s linear;
  transition: translate 0.23s linear;
}

.mainScreenButtons:active {
  translate: 0 3px 0;
  box-shadow: 0px 3px rgb(40, 35, 66);
}