* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: none; 
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  height: -webkit-fill-available;
  /* overflow: hidden; */
  /* overflow-y: auto; */
  /* -webkit-overflow-scrolling: touch; */
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action:none;
}

.os-viewport {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header {
  background-color: #565968;
  position: fixed;
  width: 100vw;
  height: 7vh;
  top:0;
  left: 0;
  right: 0;
}

.mainScreenContainer {
  background-color: #3c3c4d;
  height: 93vh;
  width: 100vw;
  top: 7vh;
  position: fixed;
  /* padding: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5vh;
  color: white;
}

.plantContainer {
  /* background-color: aqua; */
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 2vh;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background: conic-gradient(mediumslateblue 0deg, rosybrown 0deg);

  -webkit-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
}

.plant {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  background-color:bisque;
  border-radius: 50%;
  /* border:  2.5vw solid rosybrown; */
  width: 63vw;
  height: 63vw;
  z-index: 1;
}

.plantImage {
  display: flex;
  position: relative;
  align-self: center;
  align-content: center;
  max-height: 20vh;
  height: 20vh;
  translate: 1vw;
}

.radius {
  width: 7vw;
  height: 70vw;
  /* background-color: red; */
  position: fixed;
  transform: rotate(0deg);
  /* display: flex;
  align-self: center;
  justify-content: center; */
  z-index: 3;
}

.radiusCircle { 
  background-color: mediumslateblue;
  position: fixed;
  translate: 0 -1.82vw;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 7;
}

.radiusCircle:active {
  width: 10vw;
  height: 10vw;
  translate: -1.2vw -2.6vw;
}

.noRadius {
  background: none!important;
  -webkit-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
}

.hidden {
  display: none;
}

.timer {
  /* background-color: red; */
  font-size: 10vh;
}

.mainScreenButtons {
  background-color: mediumslateblue;
  font-size: 2vh;
  min-width: 20vh;
  padding: 1.5vh;
  color: white;
  border: 0;
  border-radius: 1.2vh;
  box-shadow: 0px 5px rgb(40, 35, 66);
}

.mainScreenButtons:active {
  translate: 0 3px 0;
  box-shadow: 0px 2px rgb(40, 35, 66);
}